/* pages/order/order.wxss */
.Target{
  width: 300px;
  height: 150px;
  border-radius: 2px;
  background-color: white;
  margin: 14px auto;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.hope{
  margin-left: 14px;
  // display: flex;
}

.poshope{
  display: flex;
}

.delivery{
  width: 300px;
  height: 100%;
  border-radius: 2px;
  background-color: white;
  margin: 14px auto;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.warn{
  display: flex;
}

.mynum{
  margin-top: 6px;
  display: flex;
}

.weui-input{
  width: 170px;
  height: 28px;
  font-size: 10px;
  border-radius: 20px;
  background-color: rgb(241, 239, 239);
}
.bginput{
  text-align: center;
  margin: auto;
  width: 280px;
  height: 80px;
  font-size: 10px;
  border-radius: 10px;
  background-color: rgb(240, 238, 238);
}

.myorder{
  width: 300px;
  height: 100%;
  border-radius: 2px;
  background-color: white;
  margin: 14px auto;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 12px;
}

.ordernum{
  display: flex;
}

.orderone{
  margin-left: 10px;
}