/* pages/copy/copy.wxss */
.evbtn{
  width: 100%;
  height: 360px;
}

.estimatetop{
  display: flex;
}

.channel{
  width: 140px;
  height: 100px;
  background-color: #89c3f6;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 4px rgba(0.3, 0.3, 0.3, 0.3);
  text-align: center;
  color: #0881ec;
}

.estimate{
  width: 140px;
  height: 100px;
  background-color: #89ec9c;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 4px rgba(0.3, 0.3, 0.3, 0.3);
  text-align: center;
  color: #0aba82;
}

.volume{
  width: 300px;
  height: 100px;
  background-color: #90aef6;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 4px rgba(0.3, 0.3, 0.3, 0.3);  display: flex;
}

.volumetwo{
  width: 100%;
   text-align: center;
   margin-top: 25px;
}

.freight{
  width: 300px;
  height: 100px;
  background-color: #0b73f7;
  margin: 10px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 4px rgba(0.3, 0.3, 0.3, 0.3);
  color: white;
  display: flex;
}

.freighttwo{
  width: 100%;
   text-align: center;
   margin-top: 25px;
}