/* pages/myaddress/addre/addre.wxss */
.bbtn{
    width:220px;
    height: 40px;
    margin:20px auto;
}

.btn{
    background-color: #42ace2;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    color: white;
}

.default{
    margin-left: 150px;
}